node_modules

.idea
.vscode
.history
*.log
.DS_Store
*.vsix
*.draft.md
package-lock.json

packages/shared/lib
packages/shared/__test__
packages/shared/coverage

packages/hooks/lib
packages/hooks/__test__
packages/hooks/coverage

docs/.vitepress/cache
docs/.vitepress/dist

.eslintcache